.form {
  font-size: 18px;
  margin: 5rem auto;
  box-shadow: 0 1px 4px var(--boxShadowColor);
  padding: 1rem;
  background-color: var(--formColor);
  border-radius: 6px;
  width: 40%;
  max-width: 80rem;
}

.controls {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.mainControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainControl label {
  margin-left: 5%;
  font-weight: bold;
}

.secondaryControl {
  font-size: 22px;
  justify-content: space-between;
  display: flex; 
}

.secondaryControl button {
  width: 48%;
}

.secondaryControl label {
  font-weight: bold;
}

.form input {
  font: inherit;
  background-color: var(--inputBoxColor);
  border-radius: 6px;
  width: 40%;
  padding: 0.25rem;
}

.form textarea {
  font: inherit;
  background-color: var(--inputBoxColor);
  border-radius: 6px;
  width: 60%;
  padding: 0.25rem;
}


@media (min-width: 768px) {
  .form {
    /* flex-direction: row; */
  }

  .controls {
    /* flex-direction: row; */
  }
}
