.footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--primaryColor); 
    padding: 1px 0;
    /* min-height: 1vh; */
    /* margin-bottom: 0px; */
}

.footerContent {
    /* margin-top:10px; */
    position: relative;
    margin-bottom: 5px; 
  }
  
  .footerNote,
  .link {
    text-align: center;
    font-style: italic;
    font-size: small;
    margin-top: 5px;
  }

  .footerNote a,
  .link {
    color: var(--secondaryColor);
    text-decoration: underline;
  }
  
  .gap {
    margin: 100px;
  }