.title{
    margin: 4rem 0 4rem;
    text-align: center;
}

.bodyText{
    width: 70%;
    text-align: center;
    margin: 4rem auto;
    font-size:large;
}

.bodyText a{
    color: var(--secondaryColor);;
}

.bodyText h1{
    margin-bottom: 3%;
}
  
.logo{
    text-align: center;
}